.wrapper {
    margin: auto;
    padding: 0 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sortButtons {
    display: flex;
    gap: 16px;
    padding: 20px 0 20px 0;
  }
  
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  
  
  
  .editForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .buttonGroup {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  
 